.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url(../../../public/login/bgc.png) no-repeat center;
  background-size: 100% 100%;
  user-select: none;

  .box_style {
    padding-top: 50px;
    width: 700px;
    height: 500px;
    margin-bottom: 100px;
    background: url(../../../public/login/bg.png) no-repeat center;
    background-size: 100% 100%;

    :global {
      .ant-pro-form-login-container {
        width: 100%;
        padding: 0px;
        background: none;
        .ant-pro-form-login-top {
          width: 100%;
          margin: 44px 0px 38px;
          line-height: 1;
          .ant-pro-form-login-header > .ant-pro-form-login-title {
            width: 100%;
            color: #c5a059;
            font-weight: normal;
            font-size: 44px;
            text-align: center;
          }
        }
        .ant-pro-form-login-main {
          width: 424px;
          min-width: 424px;
          .ant-form-item {
            margin-bottom: 20px;
          }
          .ant-input-affix-wrapper > .ant-input {
            height: 48px;
            color: #999999;
            font-size: 27px;
          }
          .ant-input-affix-wrapper-lg {
            padding: 0 11px;
            font-size: 21px;
          }
          input:-internal-autofill-previewed,
          input:-internal-autofill-selected {
            transition: background-color 5000s ease-out 0.5s;
            -webkit-text-fill-color: #999999;
          }
          .ant-input-affix-wrapper {
            border-radius: 0px;
          }
          .ant-input-password-icon.anticon,
          .anticon svg {
            color: #c5a059;
          }
        }
      }
      .ant-btn-primary {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 329px;
        height: 43px;
        margin: 0 auto;
        font-size: 18px;
        background: #dbb46c;
        border: none;
      }

      .ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
        background: #c5a059;
      }
    }
  }
}
