.container {
  position: relative;
  overflow: hidden;
  user-select: none;
  > header {
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #ffffff66;
    .left {
      display: flex;
      align-items: center;
      > div {
        margin-right: 40px;
        cursor: pointer;
      }
      > span {
        font-size: 22px;
        color: #d6bb70;
        cursor: pointer;
      }
    }
    .center {
      margin: 0px 30px;
      :global {
        .ant-menu-light,
        .ant-menu-horizontal {
          background-color: transparent;
          border-bottom: none;
        }
        .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
        .ant-menu-light
          > .ant-menu.ant-menu-horizontal
          > .ant-menu-item-selected::after,
        .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected::after,
        .ant-menu-light
          > .ant-menu.ant-menu-horizontal
          > .ant-menu-submenu-selected::after,
        .ant-menu-item:hover::after {
          border-bottom: 2px solid #0000;
        }
        .ant-menu-light .ant-menu-item-selected a {
          color: #d6bb70;
        }
      }
    }
    .right {
      display: flex;
      justify-content: flex-end;
      > span,
      .love,
      .person {
        cursor: pointer;
        font-size: 22px;
      }
    }
  }

  .content {
    height: 100%;
    overflow-y: auto;
    > section {
      min-height: calc(100% - 200px);
    }

    > footer {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(222, 222, 222, 0.6);
      > ul.info {
        margin: 0px;
        display: flex;
        justify-content: space-between;
        width: 35%;
      }
      div.info {
        width: 35%;
        font-size: 14px;
      }
      div.info:nth-of-type(1) {
        margin: 28px 0px;
      }
      // div.info:last-of-type {
      //   color: #a5a2a2;
      // }
    }
  }

  // 客服中心
  > .online {
    position: fixed;
    z-index: 9;
    right: 20px;
    bottom: 20px;
    .customer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 76px;
      height: 76px;
      font-size: 14px;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      background: #ffffff;
      cursor: pointer;
      &:hover {
        color: #ff8e00;
        transition: all 0.15s ease;
      }
    }
    .top {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 76px;
      height: 76px;
      font-size: 14px;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      background: #ffffff;
      cursor: pointer;
    }
  }

  // 弹框样式
  .cityList {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    > li {
      min-width: 50px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
